<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteCond %{SERVER_PORT} 80
	RewriteRule ^(.*)$ https://bullrun.bullbets.io/$1 [R,L]
	RewriteBase /
	RewriteCond $1 !^(index\.html|assets|robots\.txt|favicon\.png)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^.*$ index.html [L]
	
</IfModule>
